{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"> About </h1>
      <p>We believe “Rent & Buy” will increase positive communications and interaction between renter and visitors and it will form an integrated information
management system for the giving and taking processes.The main aim of our project is to provide a web based selling, renting system and blog.
It will be an easy way for renter to connect with clients and this platform to meet their
benefits in time.Main facilities available in this project in both of renting and selling
purposes. Because renter can get their expected dress in cheapest and
easiest way that is renting system and also can buy this products.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>
   <style>
        footer a{ color: #fff;}
        footer  a:hover{color:aqua}
    </style>

<div class="fixed-bottom">
        <footer class="bg-dark text-white">
            <div class="container py-3">
                <div class="row">
                    <div class="col-lg-3 pb-2">
                        <h4>About us</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nisi obcaecati recusandae expedita vitae quibusdam error quod nobis provident voluptatum labore porro dolorem qui perspiciatis, cum doloremque commodi eius hic?</p>
                    </div>
                    <div class="col-lg-3 pb-2">
                        <h4>Useful links</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">Contracts</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 pb-2">
                        <h4>Contract us</h4>
                        <p>
                            <address>Dhannmondi 32,Dhaka 1212</address>
                            <strong>Phone:</strong> +88 01631849017<br/>
                            <strong>Email:</strong><a href="nur15-8756@diu.edu.bd">nur15-8756@diu.edu.bd</a>
                        </p>
                    </div>
                    <div class="col-lg-3 pb-2">
                        <h4>Newsletters</h4>
                        <p>Enter  your email  address below:</p>
                        <form action="">
                            <div class="input-group">
                                <input type="email" name="" id="" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary">subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid text-center bg-secondary py-2">
                &copy; 2021. All rights are reserved.
            </div>
        </footer>
    </div>


</main>





{% endblock %}
